{% extends '_base/_baseBlock.twig' %}

{% block blockContent %}
  {% import '_components/atoms/image.twig' as img %}
  <div class="c-slider-section" x-data="sliderData()">
    <div class="c-slider-grid grid grid-cols-12 gap-4 sm:gap-5">
      {% include '_components/atoms/kicker.twig' with {
        "kicker": {
          "classes": 'flex text-sm sm:hidden',
          "text": block.title,
        }
      } %}
      {# Left Content Column #}
      <div class="c-slide-content-container col-span-12 sm:col-span-4 xl:col-span-3">
        <div class="c-slide-content">
          <div class="c-slide-content__inner">
            {# <div class="c-slide-content__number text-6xl" x-text="(currentIndex + 1).toString().padStart(2, '0')"></div> #}
            <div class="c-card c-card--plain c-slide-content__info">
              <div class="c-card__inner">
                <div class="sm:space-y-2 md:space-y-3">
                  {% include '_components/atoms/kicker.twig' with {
                    "kicker": {
                      "classes": 'hidden sm:flex',
                      "text": block.title,
                    }
                  } %}

                  <div class="space-y-3 md:space-y-5">
                    {% include '_components/atoms/heading.twig' with {
                      "heading": {
                        "classes": 'c-slide-title',
                        "tag": 'h3',
                        "underline": false,
                        "text": 'Active Title',
                        attrs: {
                          'x-html': "slides[currentIndex]?.title"
                        }
                      }
                    } %}
                    {% include '_components/atoms/rich-text.twig' with {
                      "richText": {
                        "classes": 'c-card__text c-slide-text',
                        "content": 'Active Content',
                        attrs: {
                          'x-html': "slides[currentIndex]?.content"
                        }
                      }
                    } %}
                  </div>
                </div>

                {% include '_components/link/link.twig' with {
                  link: {
                    classes: 'c-card__link',
                    includeIcon: true,
                    text: 'View Entry',
                    spanAttrs: {
                      'x-text': "slides[currentIndex]?.linkText || 'View Entry'"
                    },
                    attrs: {
                      'x-bind:href': "slides[currentIndex]?.linkUrl || '#'"
                    }
                  }
                } %}
              </div>
            </div>
          </div>
        </div>
      </div>

      {# Flickity/Right Slider Column #}
      <div class="c-slider-container col-span-12 sm:col-span-8 xl:col-span-9 relative">
        <div class="c-slider">
          {% for slide in block.pageSlides.all() %}
            {% set title = slide.title %}
            {% set content = slide.slideContent %}
            {% set linkUrl = slide.slideLink.getUrl() %}
            {% set linkText = slide.slideLink.text ?? 'View Photo' %}
            {% set image = slide.slideImage.one() %}

            <div 
              class="c-slide"
              data-title="{{ title|raw }}"
              data-content="{{ content|raw }}"
              data-link-url="{{ linkUrl }}"
              data-link-text="{{ linkText }}"
              data-index="{{ loop.index0 }}"
            >
              {{ img.renderImage(image, 1000, 1000, title, 'aspectRatio4x5') }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
