{#
  Expects:
    radio = {
      id?: string
      name?: string                 # e.g. "state"
      value?: string                # e.g. "arizona" (use '' for "All")
      label?: string                # visible label text
      checked?: bool
      iconPath?: string             # optional icon path (e.g., 'portfolio/state/arizona.svg')
      classes?: string              # extra classes for outer <label>
      inputClasses?: string         # extra classes for <input>
      attrs?: { [key: string]: string|bool|array }
    }

  Usage:
    {% include '_components/radio/radio.twig' with {
      radio: {
        id: 'state-arizona',
        name: 'state',
        value: 'arizona',
        label: 'Arizona',
        checked: selectedValue == 'arizona',
        iconPath: 'portfolio/state/arizona.svg'
      }
    } %}
#}

{% set radio = radio ?? {} %}
{% set classes = ['c-radio-label', radio.classes|default('')] | filter | join(' ') %}
{% set inputClasses = ['c-radio-input', radio.inputClasses|default('')] | filter | join(' ') %}
{% set attrs = radio.attrs|default({}) %}

<label class="{{ classes }}">
  <input
    type="radio"
    id="{{ radio.id|default('') }}"
    name="{{ radio.name|default('') }}"
    value="{{ radio.value|default('') }}"
    class="{{ inputClasses }}"
    {{ radio.checked ? 'checked' }}
    {{ attr(attrs) }}
  >
  
  {% if radio.iconPath is defined and radio.iconPath %}
    <span class="c-radio__category-icon">
      {% include '_components/icon/icons/' ~ radio.iconPath ignore missing %}
    </span>
  {% endif %}
  
  <span>{{ radio.label|default('') }}</span>

  <span class="c-radio__indicator ml-auto">
    <span class="c-radio__indicator-dot"></span>
  </span>
</label>