{% extends '_base/_basePageBlock.twig' %}
{% import '_components/atoms/image.twig' as img %}

{% block pageBlockContent %}
  {# <pre style="font-size: 12px;">
    {{ dump(block.getFieldValues()) }}
    <br>
    {{ dump(block.featuredWorksEntries|length) }}
  </pre> #}

  {% set layout = block.featuredWorksLayout.value ?? 'layout2' %}

  {# Layout 1: Mosaic Grid #}
  {% if layout == 'layout1' %}

    {% set cardPosition = block.cardPosition.value ?? 'left' %}
    {% set entries = block.featuredWorksEntries %}

    {% set entryBlocks = [] %}

    {# Add card first if cardPosition is left #}
    {% if cardPosition == 'left' %}
      {% set entryBlocks = entryBlocks|merge([{
        type: 'card'
      }]) %}
    {% endif %}

    {# Then add the entries #}
    {% for entry in entries %}
      {% set entryBlocks = entryBlocks|merge([{
        type: 'entry',
        entry: entry
      }]) %}
    {% endfor %}

    {# Add card at end if cardPosition is right #}
    {% if cardPosition == 'right' %}
      {% set newEntryBlocks = [] %}
      {% for i in 0..entries|length - 1 %}
        {% if i == 2 %}
          {% set newEntryBlocks = newEntryBlocks|merge([{ type: 'card' }]) %}
        {% endif %}
        {% set newEntryBlocks = newEntryBlocks|merge([{ type: 'entry', entry: entries[i] }]) %}
      {% endfor %}
      {% set entryBlocks = newEntryBlocks %}
    {% endif %}

    <div class="c-featured-works-grid c-mosaic-grid">

      <div class="c-featured-works-grid c-mosaic-grid">
        <div class="c-mosaic-grid__mobile-card-col block lg:hidden">
          {% include '_components/molecules/card.twig' with {
            card: {
              classes: 'c-card--mobile-flat h-full',
              kicker: block.cardKicker,
              heading: block.cardHeading,
              body: block.cardBody
            }
          } %}
        </div>
        <div class="c-mosaic-grid__entry-grid">
          {% if cardPosition == 'off' and entryBlocks|length >= 4 %}
            {% set layoutOverrides = [2, 1, 2, 1] %}
            {% set entryIndex = 0 %}

            {% for item in entryBlocks %}
              {% if item.type == 'entry' and entryIndex < 4 %}
                {% set rowSpan = layoutOverrides[entryIndex] %}
                <div class="c-mosaic-grid__entry-col row-span-{{ rowSpan }}">
                  {% include '_components/molecules/photo-block.twig' with {
                    photo: {
                      image: item.entry.featuredImage.one(),
                      classes: 'h-full',
                      url: item.entry.url,
                      title: item.entry.title,
                      caption: item.entry.title,
                      transform: rowSpan == 2 ? 'aspectRatio4x5' : 'aspectRatio5x4'
                    }
                  } %}
                </div>
                {% set entryIndex = entryIndex + 1 %}
              {% endif %}
            {% endfor %}

          {% else %}
            {% for item in entryBlocks %}
              {% if item.type == 'entry' %}
                <div class="c-mosaic-grid__entry-col {{ loop.index == 2 ? 'row-span-2' : 'row-span-1' }}">
                  {% include '_components/molecules/photo-block.twig' with {
                    photo: {
                      image: item.entry.featuredImage.one(),
                      classes: 'h-full',
                      url: item.entry.url,
                      title: item.entry.title,
                      caption: item.entry.title,
                      transform: loop.index == 2 ? 'aspectRatio4x5' : 'aspectRatio5x4'
                    }
                  } %}
                </div>
              {% else %}
                <div class="c-mosaic-grid__card-col hidden lg:block">
                  {% include '_components/molecules/card.twig' with {
                    card: {
                      classes: 'c-card--mobile-flat h-full',
                      kicker: block.cardKicker,
                      heading: block.cardHeading,
                      body: block.cardBody,
                      link: {
                        url: block.cardLink.url,
                        text: block.cardLink.text
                      }
                    }
                  } %}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>

        <div class="c-featured-grid__mobile-card-link">
          {% include '_components/atoms/button.twig' with {
            button: {
              variant: 'secondary',
              classes: 'o-button--secondary--beige',
              url: block.cardLink.url,
              text: block.cardLink.text,
              target: block.cardLink.target,
            }
          } %}
        </div>
      </div>
    </div>

    
  {% else %}
    {# Layout 2: Single Row #}
    {% set entryCount = block.featuredWorksEntries|length %}
    {% set cardPosition = block.cardPosition %}

    {% if entryCount == 1 %}
      {% set transform = 'aspectRatio16x9' %}
    {% elseif entryCount == 2 %}
      {% set transform = 'aspectRatio5x4' %}
    {% elseif entryCount == 3 %}
      {% set transform = 'aspectRatio4x5' %}
    {% elseif entryCount == 4 and cardPosition != 'off' %}
      {% set transform = 'aspectRatio16x9' %}
    {% elseif entryCount == 4 and cardPosition == 'off' %}
      {% set transform = 'aspectRatio4x5' %}
    {% else %}
      {% set transform = 'aspectRatio5x4' %}
    {% endif %}

    {% if entryCount == 1 %}
      {% set colSpanClass = 'col-span-12' %}
    {% elseif entryCount == 2 %}
      {% set colSpanClass = 'col-span-6' %}
    {% elseif entryCount == 3 %}
      {% set colSpanClass = 'col-span-4' %}
    {% elseif entryCount == 4 and cardPosition != 'off' %}
      {% set colSpanClass = 'col-span-6' %}
    {% else %}
      {% set colSpanClass = 'col-span-3' %}      
    {% endif %}

    {% set cardPositionClass = {
      'right': ' lg:order-5',
      'off': ' is-off'
    }[cardPosition.value] ?? '' %}

    {% set imgAspectClass = entryCount == 1 
      ? 'aspect-[16/9]' 
      : 'aspect-[4/5] sm:aspect-[inherit]' %}

    <div class="c-featured-works-grid c-single-row-grid grid grid-cols-12 gap-5">

      {% if cardPosition != 'off' %}
        <div class="c-single-row-grid__card-col col-span-12 lg:col-span-3{{ cardPositionClass }}">
          {% include '_components/molecules/card.twig' with {
            card: {
              classes: 'c-card--mobile-flat h-full',
              kicker: block.cardKicker,
              heading: block.cardHeading,
              body: block.cardBody,
              link: {
                url: block.cardLink.url,
                text: block.cardLink.text
              }
            }
          } %}
        </div>
      {% endif %}

      <div class="c-single-row-grid__entry-grid col-span-12{{ cardPosition != 'off' ? ' lg:col-span-9' : '' }}">
        {% for entry in block.featuredWorksEntries %}
          {% set image = entry.featuredImage.one() %}
          {% if image %}
            <div class="c-single-row-grid__entry-col {{ colSpanClass }}">
              {% include '_components/molecules/photo-block.twig' with {
                photo: {
                  classes: 'h-full',
                  image: image,
                  url: entry.url,
                  title: entry.title,
                  caption: entry.title,
                  transform: transform,
                  imgClass: imgAspectClass
                }
              } %}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="c-featured-grid__mobile-card-link">
        {% include '_components/atoms/button.twig' with {
          button: {
            variant: 'secondary',
            classes: 'o-button--secondary--beige',
            url: block.cardLink.url,
            text: block.cardLink.text,
            target: block.cardLink.target,
          }
        } %}
      </div>

      
    </div>
  {% endif %}

{% endblock %}
