{% extends '_base/_basePageSection.twig' %}

{% block pageSectionContent %}
  {% import '_components/atoms/image.twig' as img %}
  <div x-data="sliderData()" class="c-slider-block space-y-8">
    {% include '_components/atoms/heading.twig' with {
      "heading": {
        "classes": 'o-heading--h3',
        "tag": 'h3',
        "text": 'Newest Photos',
        "button": {
          "url": '/portfolio',
          "text": 'View Portfolio'
        }
      }
    } %}

    <div class="c-slider-section">
      <div class="c-slider-grid grid grid-cols-16 gap-5">
        {# Left Content Column #}
        <div class="c-slide-content-container col-span-16 md:col-span-4">
          <div class="c-slide-content md:text-right">
            <div class="c-slide-content__inner">
              <div class="c-slide-content__number text-6xl" x-text="(currentIndex + 1).toString().padStart(2, '0')"></div>
              <div class="c-slide-content__info space-y-4 md:space-y-8">
                <div class="space-y-2">
                  <h4 class="c-active-title font-bold leading-tight text-xl sm:text-2xl"></h4>
                  <p class="c-active-location font-sans"></p>
                </div>
                {% include '_components/atoms/button.twig' with {
                  button: {
                    text: 'View Photo',
                    attrs: {
                      'x-bind:href': "slides[currentIndex]?.url || '#'"
                    }
                  }
                } %}
              </div>
            </div>
          </div>
        </div>

        {# Flickity/Right Slider Column #}
        <div class="c-slider-container col-span-16 md:col-span-12 relative">
          <div class="c-slider">
            {% set photos = craft.entries.section('photos').limit(6).orderBy('postDate desc').all() %}
            {% for photoEntry in photos %}
              <div class="c-slide"
              data-title="{{ photoEntry.title }}"
              data-location="{{ photoEntry.location }}"
              data-url="{{ photoEntry.url }}"
              data-index="{{ loop.index0 }}">
                {{ img.renderImage(photoEntry.featuredImage.one(), 1000, 1000, photoEntry.title, 'square') }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
