{% extends '_base/_basePageSection.twig' %}
{% import '_components/atoms/image.twig' as img %}

{% block pageSectionContent %}
  <div class="c-column-block grid grid-cols-1 md:grid-cols-12 o-page-gap items-center">

    {# Determine column width and classes #}
    {% set leftSpan = block.twoColumnBlockLayout ? '6' : '4' %}
    {% set imageStart = not block.twoColumnBlockLayout and not block.twoColumnBlockReverse ? ' md:col-start-3' : '' %}
    {% set contentStart = not block.twoColumnBlockLayout and block.twoColumnBlockReverse ? ' md:col-start-3' : '' %}

    {# Determine ordering #}
    {% set contentOrderMobile = block.twoColumnBlockMobileLayout ? 'order-1' : 'order-2' %}
    {% set imageOrderMobile = block.twoColumnBlockMobileLayout ? 'order-2' : 'order-1' %}
    {% set contentOrderDesktop = block.twoColumnBlockReverse ? 'md:order-1' : 'md:order-2' %}
    {% set imageOrderDesktop = block.twoColumnBlockReverse ? 'md:order-2' : 'md:order-1' %}

    {# Image Block #}
    <div class="c-two-column-block__image md:col-span-{{ leftSpan }}{{ imageStart }} {{ imageOrderMobile }} {{ imageOrderDesktop }}">
      {% if block.twoColumnBlockImage|length %}
        {{ img.renderImage(block.twoColumnBlockImage[0], 800, 1600, block.twoColumnBlockImage[0].title) }}
      {% else %}
        <p>No image found.</p>
      {% endif %}
    </div>

    {# Content Block #}
    <div class="c-two-column-block__content md:col-span-{{ leftSpan }}{{ contentStart }} {{ contentOrderMobile }} {{ contentOrderDesktop }}">
      <div>
        {% include '_components/atoms/heading.twig' with {
          "heading": {
            "classes": 'o-heading--h3',
            "tag": 'h3',
            "underline": false,
            "text": block.title
          }
        } %}

        {% if block.twoColumnBlockContent %}
          <div class="mt-5 font-serif leading-5">
            {{ block.twoColumnBlockContent|raw }}
          </div>
        {% endif %}

        <div class="mt-6">
          {% include '_components/atoms/button.twig' with {
            "button": {
              "url": block.twoColumnBlockLink.url,
              "text": block.twoColumnBlockLink.text
            }
          } %}
        </div>
      </div>
    </div>

  </div>
{% endblock %}
