{% set checkbox = checkbox ?? {} %}
{% set classes = ['c-checkbox', checkbox.classes|default('')] | filter | join(' ') %}
{% set inputClasses = ['c-checkbox__input', checkbox.inputClasses|default('')] | filter | join(' ') %}
{% set attrs = checkbox.attrs|default({}) %}

<label class="{{ classes }}">
  <input
    type="checkbox"
    id="{{ checkbox.id|default('') }}"
    name="{{ checkbox.name|default('') }}"
    value="{{ checkbox.value|default('') }}"
    class="{{ inputClasses }}"
    {{ checkbox.checked ? 'checked' }}
    {{ attr(attrs) }}
  >
  
  {# Category icon from subfolder (optional) #}
  {% if checkbox.iconPath is defined and checkbox.iconPath %}
    <span class="c-checkbox__category-icon mr-3">
      {% include '_components/icon/icons/' ~ checkbox.iconPath ignore missing %}
    </span>
  {% endif %}
  
  {# Label text #}
  {{ checkbox.label|default('') }}
  
  {# Checkmark indicator #}
  <span class="c-checkbox__checkmark-icon-container ml-auto">
    {% include '_components/icon/icons/icon-checkmark.svg' %}
  </span>
</label>