{% set tag = 'select' %}
{% set selectedValue = dropdown.selected ?? '' %}
{% set options = dropdown.options ?? [] %}
{% set additionalClasses = dropdown.classes is defined and dropdown.classes ? ' ' ~ dropdown.classes : '' %}
{% set attrs = dropdown.attrs ?? {} %}

<div class="c-dropdown{{ additionalClasses }}">
  <{{ tag }} name="{{ dropdown.name }}" class="c-select"
    {% for key, value in attrs %}
      {{ key }}="{{ value }}"
    {% endfor %}
    aria-label="{{ dropdown.prepend_text ?? 'Sort dropdown' }}"
  >
    {% for option in options %}
      <option 
        value="{{ option.value }}" 
        {% if option.value == selectedValue %}selected{% endif %}
      >
        {{ option.label }}
      </option>
    {% endfor %}
  </{{ tag }}>

  <span class="c-dropdown__arrow">
    {% if dropdown.icon is defined %}
      {% include '_components/atoms/icons/icon-' ~ dropdown.icon ~ '.svg' %}
    {% elseif dropdown.includeIcon is not defined or dropdown.includeIcon %}
      {% include '_components/atoms/icons/icon-chevron-down.svg' %}
    {% endif %}
  </span>
</div>

{# Example usage #}
{# {% include '_components/atoms/dropdown.twig' with {
  dropdown: {
    name: 'state',
    selected: state,
    options: [{
      value: '',
      label: 'All States'
    }] | merge(
      states|map(option => {
        value: option.slug,
        label: option.title
      })
    ),
    icon: 'chevron-down',
    attrs: {
      sprig: true
    }
  }
} %} #}