{% set underlineClass = not subheading.underline is defined or subheading.underline ? ' o-subheading--underline' : '' %}
{% set additionalClasses = subheading.classes is defined and subheading.classes ? ' ' ~ subheading.classes : '' %}
{% set subheadingTag = subheading.tag is defined and subheading.tag ? subheading.tag : 'h3' %}

{% if subheading.text %}
  {% set titleWords = subheading.text|split(' ') %}
  <{{ subheadingTag }} class="text-3xl o-subheading leading-tight{{ underlineClass }}{{ additionalClasses }}">
    {% for word in titleWords %}
      {% if loop.last %}
        {% if titleWords|length > 1 %}
          <span class="text-red">{{ word|raw ~ '.' }}</span>
        {% else %}
          {{ word|raw ~ '.' }}
        {% endif %}
      {% else %}
        {{ word|raw }}
      {% endif %}
    {% endfor %}
  </{{ subheadingTag }}>
{% endif %}

