{% set handle = (block.type.handle ?? 'custom')
  |replace({'block': '', 'Block': ''})
  |kebab %}
{% set bgColor =
  block.pageBuilderOptionBackgroundColor
  ?? parentBlock.pageBuilderOptionBackgroundColor
  ?? entry.pageBuilderOptionBackgroundColor
  ?? 'white'
%}
{% set hasBgImage = block.pageBuilderOptionBackgroundImageToggle ?? false %}
{% set isFullColumn = isFullColumn is defined 
  ? isFullColumn 
  : (parentMatrix is defined and parentMatrix == 'pageBuilderFullColumnContent') %}
{% set isStacked = isStacked ?? false %}
{% set isStackStart = isStackStart ?? false %}
{% set isStackEnd = isStackEnd ?? false %}

{% set blockContent %}
  {% block blockContent %}{% endblock %}
{% endset %}

<div class="block 
            block--{{ handle }} 
            block--bg-{{ bgColor }}
            {{ isFullColumn ? 'block--full-width' }}
            {{ (isFullColumn and hasBgImage) ? 'block--has-bg-image' }}
            {{ isStacked ? 'block--stacked' }}
            {{ isStackStart ? 'block--stack-start' }}
            {{ isStackEnd ? 'block--stack-end' }}">
  {% if isFullColumn %}
    <div class="block__container container">
      {{ blockContent }}
    </div>
  {% else %}
    {{ blockContent }}
  {% endif %}
</div>