{% set handle = block.type.handle|replace({'pageBuilder': '', 'Block': ''})|kebab %}
{% set bgColor = block.pageBuilderOptionBackgroundColor ?? 'white' %}
{% set isFullColumn = parentMatrix is defined and parentMatrix == 'pageBuilderFullColumnContent' %}
{% set isStacked = isStacked ?? false %}
{% set isStackStart = isStackStart ?? false %}
{% set isStackEnd = isStackEnd ?? false %}

{% set blockContent %}
  {% block pageBlockContent %}{% endblock %}
{% endset %}

<div class="c-page-block 
            c-page-block--{{ handle }} 
            c-page-block--bg-{{ bgColor }}
            {{ isFullColumn ? 'c-page-block--full-width' }}
            {{ isStacked ? 'c-page-block--stacked' }}
            {{ isStackStart ? 'c-page-block--stack-start' }}
            {{ isStackEnd ? 'c-page-block--stack-end' }}">
  {% if isFullColumn %}
    <div class="c-page-block__container container">
      {{ blockContent }}
    </div>
  {% else %}
    {{ blockContent }}
  {% endif %}
</div>