{% set backTarget = breadcrumbBar.backTarget ?? '/' %}
{% set backText = breadcrumbBar.backText ?? 'Back' %}
{% set backIcon = breadcrumbBar.backIcon ?? null %}
{% set refMatch = breadcrumbBar.refMatch ?? backTarget %}
{% set additionalClasses = breadcrumbBar.classes is defined and breadcrumbBar.classes ? ' ' ~ breadcrumbBar.classes : '' %}
{% set attrs = breadcrumbBar.attrs ?? {} %}

<div
  x-data="breadcrumbBar({ backTarget: '{{ backTarget }}', backText: '{{ backText }}', refMatch: '{{ refMatch }}' })"
  class="c-breadcrumb-bar{{ additionalClasses }}"
  {% for key, value in attrs %}
    {{ key }}="{{ value is iterable ? value|join(',') : value }}"
  {% endfor %}
>
  <div class="container">
    <ul class="c-breadcrumbs">
      
      {% if breadcrumbBar.showBackButton ?? false %}
        <li class="c-breadcrumb c-breadcrumb--back-button" x-show="backHref" x-transition>
          <a :href="backHref" class="o-kicker">
            {% if backIcon %}
              {% include '_components/atoms/icons/icon-' ~ backIcon ~ '.svg' %}
            {% endif %}
            <span x-text="backText"></span>
          </a>
        </li>
      {% endif %}

      {% for item in breadcrumbBar.items ?? [] %}
        {% set tag = item.tag ?? 'a' %}
        {% set href = item.url ?? '#' %}
        {% set target = item.target ?? '_self' %}
        {% set classes = item.classes is defined and item.classes ? ' ' ~ item.classes : '' %}
        <li class="c-breadcrumb">
          <{{ tag }}
            {% if tag == 'a' %}
              href="{{ href }}"
              target="{{ target }}"
            {% endif %}
            class="o-kicker{{ classes }}"
          >
            {{ item.text ?? '' }}
          </{{ tag }}>
        </li>
      {% endfor %}

    </ul>
  </div>
</div>