{% set backTarget = breadcrumbBar.backTarget ?? '/' %}
{% set backText = breadcrumbBar.backText ?? 'Back' %}
{% set backIcon = breadcrumbBar.backIcon ?? null %}
{% set refMatch = breadcrumbBar.refMatch ?? backTarget %}
{% set additionalClasses = breadcrumbBar.classes is defined and breadcrumbBar.classes ? ' ' ~ breadcrumbBar.classes : '' %}
{% set attrs = breadcrumbBar.attrs ?? {} %}
{% set showProgressBar = breadcrumbBar.showProgressBar is defined ? breadcrumbBar.showProgressBar : true %}
{% set swapTextOnScroll = breadcrumbBar.swapTextOnScroll ?? false %}
{% set photoTitle = breadcrumbBar.photoTitle ?? '' %}

<div
  x-data="breadcrumbBar({
    backTarget: '{{ backTarget }}',
    backText: '{{ backText }}',
    refMatch: '{{ refMatch }}',
    swapTextOnScroll: {{ swapTextOnScroll ? 'true' : 'false' }},
    photoTitle: '{{ photoTitle|e('js') }}'
  })"
  class="c-breadcrumb-bar{{ additionalClasses }}"
  {% for key, value in attrs %}
    {{ key }}="{{ value is iterable ? value|join(',') : value }}"
  {% endfor %}
>

  {% if showProgressBar %}
    <div class="c-progress-bar">
      <div
        class="c-progress-bar__bg"
        :style="`width: ${scrollPercent}%`"
      ></div>
    </div>
  {% endif %}

  <div class="container">
    <ul class="c-breadcrumbs">
      
      {% if breadcrumbBar.showBackButton ?? false %}
        <li class="c-breadcrumb c-breadcrumb--back-button" x-show="backHref" x-transition>
          <a :href="backHref" class="o-kicker">
            {% if backIcon %}
              {% include '_components/atoms/icons/icon-' ~ backIcon ~ '.svg' %}
            {% endif %}
            <span x-text="backText"></span>
          </a>
        </li>
      {% endif %}

      {% for item in breadcrumbBar.items ?? [] %}
        {% set tag = item.tag ?? 'a' %}
        {% set href = item.url ?? '#' %}
        {% set target = item.target ?? '_self' %}
        {% set classes = item.classes is defined and item.classes ? ' ' ~ item.classes : '' %}
        <li class="c-breadcrumb">
          <{{ tag }}
            {% if tag == 'a' %}
              href="{{ href }}"
              target="{{ target }}"
            {% endif %}
            class="o-kicker{{ classes }}"
          >
            {% if swapTextOnScroll %}
              <span
                x-cloak
                class="o-kicker__animated-text"
                :class="{
                  'is-initial': !hasInteracted,
                  'is-hidden-up': hasInteracted && showPhotoTitle,
                  'is-active': hasInteracted && !showPhotoTitle
                }"
              >
                {{ item.text }}
              </span>

              <span
                x-cloak
                class="o-kicker__animated-text"
                :class="{
                  'is-initial': !hasInteracted,
                  'is-hidden-down': hasInteracted && !showPhotoTitle,
                  'is-active': hasInteracted && showPhotoTitle
                }"
              >
                {{ photoTitle }}
              </span>
            {% else %}
              {{ item.text ?? '' }}
            {% endif %}
          </{{ tag }}>
        </li>
      {% endfor %}

    </ul>
  </div>
</div>